<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.StoreMapper">
	<insert id="insertStore" parameterType="com.example.sakila.vo.Store">
		INSERT INTO store (
		    manager_staff_id, address_id
		) VALUES ( #{managerStaffId}, #{addressId})
	</insert>
	
		<!-- storeList 출력 -->
	<select id="selectStoreListByStaffByAddress" parameterType="Map" resultType="com.example.sakila.vo.Store">
	    SELECT 
		    a.address_id AS addressId, 
		    a.address AS address, 
		    a.address2 AS address2, 
		    a.district AS district, 
		    a.city_id AS cityId, 
		    a.postal_code AS postalCode, 
		    a.phone AS phone, 
		    a.last_update AS addressLastUpdate, 
		    t1.store_id AS storeId, 
		    t1.manager_staff_id AS managerStaffId, 
		    t1.first_name AS firstName, 
		    t1.last_name AS lastName, 
		    t1.email AS email, 
		    t1.active AS active, 
		    t1.username AS username 
		FROM address a 
		INNER JOIN ( 
		    SELECT 
		        st.store_id, 
		        st.manager_staff_id, 
		        st.address_id AS store_address_id, 
		        sf.first_name, 
		        sf.last_name, 
		        sf.email, 
		        sf.active, 
		        sf.username 
		    FROM store st 
		    INNER JOIN staff sf ON st.store_id = sf.store_id
		) t1 ON a.address_id = t1.store_address_id 
		WHERE t1.store_id = #{storeId} 
		ORDER BY t1.store_id DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- staffList 출력 -->
	<select id="selectStoreList" parameterType="com.example.sakila.vo.Store">
		SELECT 
			store_id storeId 
			, manager_staff_id managerStaffId
			, address_id addressId
			, last_update lastUpdate
		FROM store
	</select>
</mapper>