@charset "UTF-8";
body {
	height: 100vh;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #333;
}
img {
	width: 100%;
}
.upload-input {
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}
.upload-input::file-selector-button {
	display: none;
}
td {
    word-break: keep-all;
}